<button mat-raised-button color="accent" (click) = "backClicked()">Back</button>

<!--Logo-->
<div class="logo">
  <div class="emptyBox"></div>
  <div><img src= {{this.detailDisplayed[0].refs}} height="100px" width="200px">
  <div class="emptyBox"></div>
</div>

<h3>{{ this.detailDisplayed[0].name }}</h3>
<h3>{{ this.detailDisplayed[0].description }}</h3>

<h5>Located in:</h5>
<ul>
  <li *ngFor="let location of this.detailDisplayed[0].location">{{ location }}</li>
</ul>

<div *ngIf="response">
  <p>{{ error }}</p>
</div>
